# Ignore all files in the plots directory
plots/*


__pycache__/
*.pyc
*.pyo

# Environment variables
# .env
#
# # IDE/editor specific files
# .vscode/
# *.sublime-project
# *.sublime-workspace
#
# # Dependency directories
# venv/
# .env/
#
# # Logs
# *.log
#
# # Build directories
# build/
# dist/
#
